<div class="container  lgbox">
    <div class="imgbox">
        <img  [src]="imageUrl" width="150px" height="150px" >
    </div>
    <div class="container fullbox">
        <div class="row ">
            <div class="col titletext">
                <p>{{title}}</p>
            </div>
        </div>
        <div class="row ">
            <div class="col unioveralltext">
                <p>{{content}}</p>
            </div>
            <div class="col-2">

            </div>
        </div>
        <div class="row box1">
            <div class="col finalrow">
                <p>{{subtitle}}</p>
            </div>
            <div class="col-3 button">
                <button class="btn custom-button">See More ..</button>
            </div>
        </div>
    </div>
</div>

