.main-bg{
    width: 320px;
    height: 140px;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 4px 0px rgba(69, 69, 69, 0.25);

}
.num-bg{
    height: 80px;
    width: 100%;
}
.num-bg h1{
    font-size: 65px;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    color: #FF0844;
}
.text-bg{
    height: 50px;
    width: 100%;
}   
.text-bg p{
    font-size: 22px;
    display: flex; 
    align-items: center;
    font-weight: 400;
}