<div class="container main-bg ">
    <div class="row mt-4">
        <p class="large-text">Select A/L Stream</p>
    </div>
    <div class="row mt-4">
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Physical Science (Maths)'" routerLink="/selectPath2"></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Bio Science Stream'" routerLink="/selectPath2"></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Commerce Stream'" routerLink="/selectPath2"></app-student-btn2-comp>
        </div>
    </div> 
    <div class="row mt-2">
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Art Stream'" routerLink="/selectPath2"></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Technology Stream'" routerLink="/selectPath2"></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'I am After O/L Student'" routerLink="/selectPath2"></app-student-btn2-comp>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Other'" routerLink="/selectPath2"></app-student-btn2-comp>
        </div>
    </div>


</div>

