<div class="container col-auto">

    <!-- 1st Main Components -->
    <div class="row main-head">
        <div class="col main-content">
            <!-- Main Two Components Text Part -->
            <div class="row main-content-text">
                <h1 class="large-text">Large educational programs</h1>
                <div class="row space-box1">
                    <div class="col-auto">
                        <h6 class="medium-text">Our course is rated excellent by over 42,000 people</h6>
                    </div>
                    <div class="col-auto" style="margin-left: 40px; margin-top:15px;">
                        <div class="col ratetext">
                            <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                            <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                            <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                            <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                            <i class="fa-solid fa-star" style="color: #ff000044;"></i>
                        </div>
                    </div>
                </div>
                <p>Today, more than 48,000 people have already studied at our universities in various fields: programming, photography, marketing, management, logistics, and engineering</p>
                <div class="row">
                    <div class="col">
                        <app-student-btn1-comp [text]="'Check Courses'" routerLink="/selectPath1"></app-student-btn1-comp>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Two Components Image Part -->
        <div class="col-md-6 custom-svgbox">
            <img class="custom-svg img-fluid" src="assets/svg/studing.svg" alt="My SVG Image">
        </div>
    </div>

    <!-- 2nd Main Components -->
    <div class="row main-2nd-comp " style="margin-top: 10%;">
        <!-- Services Box 01-->
        <div class="col ">
            <div class="box-group" style="background-color: white;">
                <div class="row">
                    <div class="box-img ">
                        <i class="fa fa-globe custom-icon" style="color: #ffffff; font-size: 3rem;  "></i>
                    </div>
                </div>
                <div class="row">
                    <h4>One Place</h4>
                </div>
                <div class="row box-content" style="margin-left: 20px; margin-right: 20px;">
                    <p>There is a place where you can find your career path in one place</p>
                </div>
            </div>
        </div>
        <!-- Services Box 02-->
        <div class="col ">
            <div class="box-group" style="background-color: white;">
                <div class="row">
                    <div class="box-img ">
                        <i class="fa fa-graduation-cap custom-icon" style="color: #ffffff; font-size: 3rem;  "></i>
                    </div>
                </div>
                <div class="row">
                    <h4>Student Higher Studies</h4>
                </div>
                <div class="row box-content" style="margin-left: 10px; margin-right: 10px;">
                    <p>student can choose what course they want individually because we give guidelines very clearly.</p>
                </div>
            </div>
        </div>
        <!-- Services Box 03-->
        <div class="col ">
            <div class="box-group" style="background-color: white;">
                <div class="row">
                    <div class="box-img ">
                        <i class="fa fa-wallet custom-icon" style="color: #ffffff; font-size: 3rem;  "></i>
                    </div>
                </div>
                <div class="row">
                    <h4>Financial Not a Problem</h4>
                </div>
                <div class="row box-content" style="margin-left: 10px; margin-right: 10px;">
                    <p>we suggest the best bank loans for you selected course and we provide all the details about those bank loans.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd Main Components -->
    <div class="col main-3rd-comp" style="margin-top: 10%;">
        <div class="col-auto main-content ">
            <div class="row ">
                <!-- Main Two Components Image Part -->
                <div class="col-auto col-5  custom-svgbox" >
                    <img class="custom-svg" src="assets/svg/teacher.svg" alt="My SVG Image">
                </div>
                <!-- Main Two Components Text Part -->
                <div class="col-auto  col-7 ">
                    <div class="row main-content-text">
                        <h1 class="large-text">Learn and archive your Goals </h1>
                        <p class="mt-3">Morbi tempor eleifend condimentum. Etiam mollis urna et massa tempus vulputate. Nunc sed nisl est. Donec non consectetur elit. Praesent accumsan elit urna, eget mattis turpis aliquam a. In sagittis bibendum consequat. Quisque porta volutpat ligula sit amet varius</p>
                        <div class="row">
                            <div class="col">
                                <app-student-btn1-comp [text]="'Get Idea about Institute'"></app-student-btn1-comp>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 4th Main Components -->
    <div class="row main-4th-comp " style="margin-top: 10%;">
        <h1 class="large-text text-light" style="padding-left: 50px; padding-top: 36px;">Why You Trust</h1>
        <!-- Services Box 01-->
        <div class="row bg-box">
            <div class="col ">
                <div class="box-group-4th" style="background-color: white;">
                    <div class="row">
                        <div class="box-img ">
                            <img class="custom-img-circle" src="assets/image/keshan.jpeg" width="150px" height="150px">
                        </div>
                    </div>
                    <div class="row box-content">
                        <h5 style=" margin-left: 10px; margin-right: 20px;">Acadamin staff memeber - NIBM </h5>
                        <h5 style=" margin-left: 20px; margin-right: 20px;">Keshan Narangoda</h5>
                    </div>
                    <div class="row box-content" style="margin-left: 20px; margin-right: 20px;">
                        <p>“Mauris tellus lorem, tempus sed nibh at, varius convallis mi. sed scelerisque odio neque a lacus. Ut consectetur ligula..”</p>
                    </div>
                </div>
            </div>
            <!-- Services Box 02-->
            <div class="col ">
                <div class="box-group-4th" style="background-color: white;">
                    <div class="row">
                        <div class="box-img ">
                            <img class="custom-img-circle" src="assets/image/bagaya.jpeg" width="150px" height="150px">
                        </div>    
                    </div>
                    <div class="row box-content">
                        <h5 style=" margin-left: 10px; margin-right: 20px;">Acadamin staff memeber - NIBM </h5>
                        <h5 style=" margin-left: 20px; margin-right: 20px;">Bagaya Hapuarachi</h5>
                    </div>
                    <div class="row box-content" style="margin-left: 10px; margin-right: 10px;">
                        <p>“Mauris tellus lorem, tempus sed nibh at, varius convallis mi. sed scelerisque odio neque a lacus. Ut consectetur ligula..”</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- 5th Main Components -->
    
    <div class="row main-5th-comp">
        <app-student-title-with-content [title]="'Academic institutes in Sri Lanka.'"></app-student-title-with-content>
        <app-student-institute-grid-comp></app-student-institute-grid-comp>
    </div>
    

    <!-- 6th Components -->
    <div class="row main-6th-comp ">
        <img class="custom-img" src="assets/image/banner.png" style="width: 100%; height: 40vh;">
    </div>
</div>

