<div class="container  lgbox">
    <div class="imgbox">
        <img  [src]="course.courseImage" width="150px" height="150px" >
    </div>
    <div class="container fullbox">
        <div class="row ">
            <div class="col titletext">
                <p>{{course.courseName}}</p>
            </div>
        </div>
        <div class="row ">
            <div class="col unioveralltext">
                <p>{{course.overallidea}}</p>
            </div>
            <div class="col-2">

            </div>
        </div>
        <div class="row box1">
            <div class="col finalrow">
                <p>{{course.awardedUni}}</p>
            </div>
            <div class="col-3 button"  *ngIf="this.userService.isLoggedIn && !this.userService.isAdmin">
                <a class="btn custom-button" routerLink="/instituteAdmin/{{course.id}}/manageCourse">see more..</a>
            </div>
            <div class="col-3 button" *ngIf="!this.userService.isLoggedIn" >
                <a class="btn custom-button" routerLink="/student/{{course.id}}/fullCourse">see more..</a>
            </div>
        </div>
    </div>
</div>
