<div class="Container">
  <footer class="footer-bs">
    <div class="row">

      <div class="col-md-6 footer-brand ">
        <div class="header-logo bg-transparent ">
          <img src="assets\image\logo.png" height="100" alt="Logo">
        </div>
        <p>Join us to decide the path of higher education in your life</p>
      </div>

      <div class="col-md-3 footer-nav  text-center">
        <div class="col-md">
          <ul class="pages">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/courses">Courses</a></li>
            <li><a routerLink="/institute">Institute</a></li>
            <li><a routerLink="/blogs">Blogs</a></li>
            <li><a routerLink="/bankloan">Bank Loans</a></li>
            <li><a routerLink="/jobs">Part Time Jobs</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 footer-social  text-center">
        <ul>
          <li><a href=""><i class="fa-brands fa-facebook m-3"></i></a> <a href=""><i class="fa-brands fa-instagram m-3"></i></a></li>
          <li><a routerLink="/login">Provider Login</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-4 "></div>
        <div class="col-4 text-center">
          <p>Copyright © 2023 Coursenet. All rights reserved.</p>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    
  </footer>

  
  
</div>