<div class="container">
    <div class="main-bg  mt-5 mb-3">
        <div class="row">
            <div class="head-banner-bg">
                <div class="col-4 row-grid">
                    <app-admin-card2-comp [no]="noOfBlogs" [text]="'Active Courses'"></app-admin-card2-comp>
                </div>
                <div class="col-4 row-grid">
                    <app-admin-btn1-comp routerLink="/adminAllCourses"
                        [btntext]="'Show All Courses'"></app-admin-btn1-comp>
                </div>
                <div class="col-4 row-grid">
                    <app-admin-btn1-comp routerLink="/institute"
                        [btntext]="'Show All Institutes'"></app-admin-btn1-comp>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <app-student-title-with-content [title]="'Latest Courses'"></app-student-title-with-content>
        <div class="col course-panel mt-4">
            <div class="col course-panel">
                <div class="col courses-card" *ngFor="let course of courses">
                    <app-course-card [course]="course"></app-course-card>
                </div>
            </div>
        </div>
    </div>
</div>