.requement-comp {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
}
.subheadtext {
  /* margin-top: 10px; */
  margin-bottom: 10px;
  font-weight: bold;
  color: #ff0844;
}
.custom-button {
  background-color: #ff0844;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 70px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #610dcd;
}

