<div class="container">
  <div class="main-bg  mt-5">
    <div class="row">
      <div class="head-banner-bg">
        <div class="col-4 row-grid">
          <app-admin-card2-comp [no]="noOfCours" [text]="'Active Courses'"></app-admin-card2-comp>
          <app-admin-btn1-comp routerLink="/adminBankLoans" [btntext]="'Manage Bank Loans'"></app-admin-btn1-comp>
        </div>
        <div class="col-4 row-grid">
          <app-admin-card1-comp [no]="noOfUsers" [text]="'Active Users'"></app-admin-card1-comp>
          <app-admin-card1-comp [no]="noOfBlogs" [text]="'Active Blogs'"></app-admin-card1-comp>
          <app-admin-btn1-comp routerLink="/adminBlogs" [btntext]="'Manage Blogs'"></app-admin-btn1-comp>
        </div>
        <div class="col-4 row-grid">
          <app-admin-card1-comp [no]="noOfBank" [text]="'Active Bank Loans'"></app-admin-card1-comp>
          <app-admin-card1-comp [no]="noOfJobs" [text]="'Active Jobs'"></app-admin-card1-comp>
          <app-admin-btn1-comp routerLink="/adminJobs" [btntext]="'Manage Part Time Jobs'"></app-admin-btn1-comp>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <app-title-with-content-btn routerLink="/addUsers" [title]="'Active Users'"
      [btntext]="'Add Users '"></app-title-with-content-btn>
    <br>
    <div class="container">
      <table class="table table-hover mt-5 ms-4 me-5 mb-5 custom-table">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Institute Register No </th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of user">
            <td>{{item.name}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.mobileNo}}</td>
            <td>{{item.insRegisterNo}}</td>
            <td>
              <a class="btn btn-primary btn-sm" routerLink="/admin/{{item.insRegisterNo}}/institute">View</a>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <app-student-title-with-content [title]="'Latest Courses'"></app-student-title-with-content>

    <div class="col course-panel">
      <div class="col courses-card" *ngFor="let course of courses">
        <app-course-card [course]="course"></app-course-card>
    </div>
    </div>
  </div>
</div>