<div class="container main-bg ">
    <div class="row mt-4">
        <p class="large-text">Program Type</p>
    </div>
    <div class="row mt-4">
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Diploma Program'" ></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Degree Program'" ></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Certificate Program'" ></app-student-btn2-comp>
        </div>
    </div> 
    <div class="row mt-2">
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Masters Degree'" ></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'foundation course'" ></app-student-btn2-comp>
        </div>
    </div>
    <hr class="my-4">
    <div class="row mt-2">
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Part Time'" routerLink="/selectPath4"></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Full Time'" routerLink="/selectPath4"></app-student-btn2-comp>
        </div>
        <div class="col mt-2">
            <app-student-btn2-comp [btntext]="'Part / Full Time'" routerLink="/selectPath4"></app-student-btn2-comp>
        </div>
    </div>


</div>
