<div class="container main-bg bg-light">
    <div class="row">
        <div class="col close-btn-bg " style="margin: 10px;">
            <i class="fa-solid fa-ban" routerLink="/jobs"></i>
        </div>
    </div>

    <!-- Heading Component -->
    <div class="container content-comp">
        <div class="col-2 mt-2 title-comp-bg imgbox">
            <img src="https://cdn.flatworldsolutions.com/featured-images/success-story-online-data-entry-greens-farm.jpg"
                width="200px" height="200px">

        </div>
        <div class="col-8 mt-2 title-comp-bg">
            <h4 class="medium-text">Online Data Entry Executive (Part/Full Time) job from FlyTech Private</h4>
        </div>
    </div>

    <!-- over view text -->
    <div class="col overviewText ps-5 pt-5">
        <p>FlyTech Private Limited is a reputed company based in Kandy. We are looking for talented professional from
            the field of BPO/ KPO to join our team as Online Data Entry Executive</p>
    </div>

    <app-student-title-with-content title="Job Type" content="Part Time / Full Time"></app-student-title-with-content>

    <app-student-title-with-content title="Position"
        content="Online Data Entry Executives"></app-student-title-with-content>

    <app-student-title-with-content title="Technical Requirements"
        content="A stable internet connection with a Computer or Smartphone"></app-student-title-with-content>

    <app-student-title-with-content title="Job Mode" content="Remote / Work From Home"></app-student-title-with-content>

    <app-student-title-with-content title="Income" content="45,000.00 - 75,000.00"></app-student-title-with-content>

    <app-student-title-with-content title="Qualifications"
        content="Able to read and type in English - Good typing skill. (Able to type more than 25 words in a minute in English). - Age above 18 - Proactive and professional attitude - Fast learners / willing to learn - Basic Database Knowledge."></app-student-title-with-content>

    <app-student-title-with-content title="Interested applicants send us your CV"
        content=" Mail : flytechinc@nycmail.com, WhatsApp : +94755080275, https://wa.me/94755080275"></app-student-title-with-content>
    <br>
</div>