.main-bg {
  width: 100%;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 20px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.close-btn-bg {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.form-bg {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-bg {
  display: flex;
  justify-content: space-evenly;
}
.grid-bg {
  display: flex;
  justify-content: space-evenly;
}
.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
  height: auto;
}

.custom-button {
  background: linear-gradient(to bottom, #ff8264, #ff0844);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 70px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background: linear-gradient(to bottom, #610dcd, #6c63ff);
}
